name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          password: ${{ secrets.VPS_SSH_PASSWORD }}
          script: |
            set -e
            cd ~/billymrx-portfolio
            
            git fetch origin
            git reset --hard origin/main
            git clean -fd
            
            export NEXT_PUBLIC_EMAILJS_SERVICE_ID="${{ secrets.NEXT_PUBLIC_EMAILJS_SERVICE_ID }}"
            export NEXT_PUBLIC_EMAILJS_TEMPLATE_ID="${{ secrets.NEXT_PUBLIC_EMAILJS_TEMPLATE_ID }}"
            export NEXT_PUBLIC_EMAILJS_PUBLIC_KEY="${{ secrets.NEXT_PUBLIC_EMAILJS_PUBLIC_KEY }}"

            chmod +x scripts/deploy.sh
            ./scripts/deploy.sh
