name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          passphrase: ${{ secrets.VPS_SSH_KEY }}
          username: ${{ secrets.VPS_USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            cd billymrx-portfolio
            git pull origin
            npm install -g pnpm
            pnpm run docker:build
            pnpm run docker:run
          timeout: 1200 
